@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MapleSharks website</h1>
    <p>Use this portal to register your swimmers for the MapleShark swimming pool.</p>
    <img src="images\logomascot.png" alt="MapleShark" />
</div>  
